html {
  font-family: 'Space Mono';
} 
:root {
  --bg-light: #F6F8FF;
  --bg-dark: #2B3442;

}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  transition: 0.3s;
}
.App {
  text-align: center;
}

.Container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.Container-dark {
  background-color: var(--bg-dark);
}
.Container-light {
  background-color: var(--bg-light);
}
.toggle--button {
  width: 78px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border: none;
  background-repeat:no-repeat;
  background-color: transparent;
  font-family: 'Space Mono';
  cursor: pointer;
}
.toggle--light {
  color: #FFFFFF;
}
.toggle--dark {
  color: #697C9A;
}
.toggle-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main--container {
  width: 53%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header-light {
  font-size: 26px;
}
.header-dark {
  font-size: 26px;
}